body {
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
}
.center {
  text-align: center;
}
/*embed font*/
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), 
       url('fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), 
       url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), 
       url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), 
       url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*initial margin*/
.top0 { margin-top:0px !important; }
.top5 { margin-top:5px !important; }
.top7 { margin-top:7px !important; }
.top10 { margin-top:10px !important; }
.top15 { margin-top:15px !important; }
.top17 { margin-top:17px !important; }
.top20 { margin-top:20px !important; }
.top30 { margin-top:30px !important; }
.top40 { margin-top:40px !important; }
.top50 { margin-top:50px !important; }
.top70 { margin-top:70px !important; }
.top100 { margin-top:100px !important; }
.bottom0 { margin-bottom:0px !important; }
.bottom5 { margin-bottom:5px !important; }
.bottom7 { margin-bottom:7px !important; }
.bottom10 { margin-bottom:10px !important; }
.bottom15 { margin-bottom:15px !important; }
.bottom17 { margin-bottom:17px !important; }
.bottom20 { margin-bottom:20px !important; }
.bottom30 { margin-bottom:30px !important; }
.bottom40 { margin-bottom:40px !important; }
.bottom50 { margin-bottom:50px !important; }
.bottom70 { margin-bottom:70px !important; }
.bottom100 { margin-bottom:100px !important; }
/*initial font-size*/
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
.full-width {
   width: 100%;
   background: #444546;
   max-height: 28px;
}
.full-width p {
  font-size: 12px;
  color: #ffffff;
  padding: 5px 0;
}
.header-links {
  float: right;
  text-align: right;
}
.header-links ul li {
  display: inline-block;
  list-style: none;
}
.header-links ul li a {
  color: #ffffff;
  display: block;
  padding: 0 8px;
  font-size: 12px;
  border-right: 1px solid #ccc;
  line-height: 12px;
}
.header-links ul li a:hover {
  color: #ccc;
}
.header-links ul li:last-child a {
  border-right: none;
}
.main-header .logo img {
  margin-top: -10px;
}
form .search-box {
  margin-top: 10px; 
}
.cart-counter {
  margin-top: 10px;
}
.main-header {
  clear: both;
}
.cart-count {
  background-color: #fff;
  border-radius: 50px;
  color: #007fb8;
  font-weight: bold;
  height: 15px;
  line-height: 15px;
  padding: 4px 7px;
  vertical-align: middle;
  min-width: 15px;
  font-size: 12px;
  margin-left: 5px;
  color: #F00;
}
.cart-icon {
  background-image: url("img/new-vd-sprite-d91fd34f.png");
  background-position: 0 -87px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 21px;
  vertical-align: middle;
  width: 24px;
}
button.tiny, .button.tiny {
  padding: 0.425rem 1.25rem 0.4875rem;
}
/*orbit-slide style*/
.orbit-bullets {
  display: none;
}
.orbit-slide-number {
  display: none;
}
.orbit-container .orbit-timer.paused > span {
  display: none;
}
.orbit-container .orbit-timer .orbit-progress {
  display: none;
}
.orbit-container .orbit-slides-container > * .orbit-caption {
  font-size: 20px;
  background: #c47220;
  opacity: 0.7;
}
#cssmenu {
  z-index: 9999;
  background: #0a3151;
}
.head-title {
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid #e2e2e2;
}
.best-sales-pro {
  text-align: center;
}
.new-label {
  background: #ffc60a none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-family: "Open Sans",sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 25px;
  letter-spacing: 1px;
  line-height: 25px;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 45px;
  z-index: 100;
}
.item-inner .pro-img-thumb {
    position: relative;
}
.pro-img-thumb img {
  height: 200px !important;
  max-height: 200px;
}
.detail-img img {
  height: 200px !important;
  max-height: 200px;
}
.info-inner .item-title {
  font-size: 14px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info-inner .item-title a {
  color: #333;
}
.info-inner .item-title a:hover {
  color: #009ae1;
}
.ratings {
    font-size: 11px;
    line-height: normal;
    margin: 2px 0;
}
.rating-box {
  background: rgba(0, 0, 0, 0) url("img/bkg_rating.png") repeat-x scroll 0 0;
  font-size: 0;
  height: 15px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 76px;
  margin: 0 auto;
}
.price-box {
  margin: 6px 0;
}
.regular-price .price {
  color: #ff0000;
  font-size: 14px;
  font-weight: bold;
}
.actions button.button.btn-cart, .actions a.button.btn-cart {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: #333;
  line-height: 14px;
  margin: 10px 8px 0;
  padding: 9px 10px;
}
.actions button.button.btn-cart span, .actions a.button.btn-cart span {
    font-family: "Open Sans",sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-left: 0;
    padding: 0 8px;
    text-transform: uppercase;
}
.actions:hover button.button.btn-cart, .actions:hover a.button.btn-cart {
    background: #007fb8 none repeat scroll 0 0;
    border: 1px solid #007fb8;
    color: #ffffff;
    margin: 10px 8px 0;
    padding: 9px 10px;
}
/*footer style*/
.footer {
  background: #008cba;
  padding-top: 40px;
}
.footer h4 {
  color: #fff;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer .footer-col-2 h4{
  padding-left: 15px;
}
.footer-col-1 p.foot-profile {
  font-size: 14px;
  color: #fff;
  padding-top: 10px;
  text-align: justify;
}
.footer-col-2 ul li {
  list-style: none;
}
.footer-col-2 ul li a {
  font-size: 14px;
  color: #fff;
}
.footer-col-2 ul li a:hover {
  color: #ccc;
}
.footer-col-2 ul li a::before {
    color: #bed6e2;
    content: "";
    cursor: pointer;
    display: inline-block !important;
    font-family: FontAwesome;
    font-size: 14px;
    line-height: 20px;
    margin-right: 5px;
}
.footer address {
    border: medium none;
    color: #fff;
    display: block;
    font-size: 14px;
    font-style: normal;
    text-align: left;
}
.add-icon::before {
    border: 2px solid #aaa;
    border-radius: 25px;
    color: #fdd922;
    content: "";
    display: inline-block;
    float: left;
    font-family: FontAwesome;
    font-size: 15px;
    font-style: normal;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    text-align: center;
    width: 35px;
}
.phone-footer {
    color: #fff;
    font-size: 14px;
    line-height: 35px;
    overflow: hidden;
}
.phone-footer > a {
  color: #ffffff;
}
.phone-icon::before {
    border: 2px solid #aaa;
    border-radius: 25px;
    color: #fdd922;
    content: "";
    display: inline-block;
    float: left;
    font-family: FontAwesome;
    font-size: 15px;
    font-style: normal;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    text-align: center;
    width: 35px;
}
.email-footer {
    font-size: 14px;
    overflow: hidden;
    color: #fff;
}
.email-footer a {
  color: #fff;
}
.email-icon::before {
  border: 2px solid #aaa;
  border-radius: 25px;
  color: #fdd922;
  content: "";
  display: inline-block;
  float: left;
  font-family: FontAwesome;
  font-size: 14px;
  font-style: normal;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
  text-align: center;
  width: 35px;
}
.footer-bottom {
  font-size: 12px;
  background: #041c2f none repeat scroll 0 0;
  margin-top: 40px;
  overflow: hidden;
}
.footer-bottom .inner {
  margin: auto;
  padding: 20px 0 15px;
}
footer .coppyright {
  color: #ccc;
  float: left;
}
.footer-bottom .bottom_links {
  float: right;
  padding: 10px 0 0;
}
.footer-bottom .bottom_links ul li {
  display: inline-block;
  list-style: none;
}
.footer-bottom .bottom_links ul li a {
  border-right: 1px solid #ccc;
  color: #ffffff;
  display: block;
  font-size: 12px;
  line-height: 12px;
  padding: 0 8px;
}
.footer-bottom .bottom_links ul li a:hover {
  color: #ccc;
}
.bottom_links ul li:last-child a {
  border-right: none;
}
.orbit-caption > a {
  color: #fff;
}
#cssmenu #menu-button::before {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  content: "";
  display: block;
  height: 7px;
  position: absolute;
  right: 20px;
  top: 25px;
  width: 15px;
}
#cssmenu #menu-button::after {
  background: #fff none repeat scroll 0 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 15px;
}
.under-line {
  border-bottom: 1px solid #ccc;
}
.footer-bottom .inner .coppyright span {
  color: #fff;
}
.red {
  color: #f00;
}
/*sign up style*/
.signup-frm .medium-text-left, i.dash {
  color: rgb(129, 129, 129);
  display: inline-block;
  position: relative;
  font-size: 11px;
}
/*log in style*/
.login-form {
  border: 1px solid #ddd;
  box-shadow: 0 0 10px #ddd;
  padding: 30px 35px;
}
/*dashboard style*/
.dashboard-menu {
  background: #eff3f6;
}
.dashboard-menu #cssmenu {
  background: #0a3151;
  border-bottom: none;
}
.dashboard-menu #cssmenu > ul > li > a {
  padding: 16px 25px;
}
.save-act {
  display: none;
}
.h_t_user, .h_t_email, .h_t_phone, .h_t_password {
  display: none;
}
a#ed_u, a.save {
  color: #fff;
  font-size: 11px;
}
.dashboard-noborder .dash-left ul li {
  list-style: none;
  line-height: 30px;
}
.dashboard-noborder .dash-left ul h3, .dashboard-noborder .dash-right h3 {
  font-size: 16px;
  font-weight: bold;
  color: #666;
}
.dashboard-noborder .dash-left ul li a {
  font-size: 14px;
  color: #666;
}
.dashboard-noborder .dash-left ul li a:hover {
  color: #333;
}
.dashboard-noborder .columns.large-4 {
  padding-left: 0;
  padding-right: 0;
}
.dashboard-noborder .dash-right {
  padding: 20px 0 20px 15px;
}
.manage-list {
  border: 0px solid #ccc;
}
/*start content dashboard*/
.dashboard {
  border: 1px solid #ccc;
}
.dash-left {
  padding: 20px;
  border-right: 1px solid #ccc;
}
.dash-right {
  padding: 30px 30px 30px 0;
}
.dash-right .headline {
  border-bottom: 1px solid #dcdee3;
  line-height: 25px;
}
.dash-right .headline span {
  font-size: 12px;
  color: #9197a3;
  font-weight: bold;
  text-transform: uppercase;
}
.dash-right .ifm {
  padding: 15px 0;
}
.dash-right .ifm {
  font-size: 16px;
  color: #008cba;
}
.ifm .profile_img img {
  width: 120px;
  height: auto;
}
.ifm .change_img a {
  color: #fff;
  font-size: 12px;
}
#sv_un, #sv_em, #sv_ph {
  display: none;
}
#sv_pw {
  display: none;
}
.square { 
  width: 36px; 
  height: 36px; 
  background: #fff; 
  text-align: center;
  color: #ccc;
  font-size: 12px;
}
.join-link {
  text-align: right;
}
.join-link a:hover {
  text-decoration: underline;
}
.xloginPartnerWrapper {
  border-top: 1px solid #ccc;
  color: #666;
  font-size: 12px;
  height: 23px;
  line-height: 1;
  margin-top: 8px;
  padding-top: 12px;
  vertical-align: middle;
}
a.blue {
  color: #008cba !important;
  font-size: 12px !important;
}
a:hover.blue {
  text-decoration: underline;
}
.st, #pass {
  color:#FF0000;
  padding-top: 10px;
}
/*upload image style */
.preview {
  width:100%;
  border:solid 1px #dedede;
  padding:15px;
  height: 398px;
  text-align: center;
}
#preview
{
  color:#cc0000;
  font-size:12px
}
.chang-pw {
  background: #eff3f6;
  padding: 5px 0;
}
/*start password panel style*/
.column{
  width:100%;
  min-height:300px;
  background:#fff;
  float:left;
}
.column .dragbox{
  background:#fff;
  position:relative;
  border:1px solid #ddd;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
.column .dragbox h2{
  margin:0;
  font-size:12px;
  padding:5px;
  background:#f0f0f0;
  color:#000;
  border-bottom:1px solid #eee;
  font-family: Arial,Helvetica,sans-serif;
  cursor:move;
}
.column .dragbox h2 {
  color: #9197a3;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.column .dragbox h2 i {
  color: #f00;
  visibility: visible;
}
.dragbox-content{
  background:#fff;
  min-height:100px; margin:5px;
}
.column  .placeholder{
  background: #f0f0f0;
  border:1px dashed #ddd;
}
.dragbox h2.collapse{
  background:#f0f0f0 url('img/collapse.png') no-repeat top right;
}
.dragbox h2 .configure{
  font-size:11px; font-weight:normal;
  margin-right:30px; float:right;
}
.required {
  color: #FF0000;
  font-size:11px;
  font-weight:italic;
  padding-left:10px;
}
.red_star {
  color: #f00;
}
.gray-border {
  border: 1px solid #ccc;
}
a.post-ad {
  color: #fff;
  padding: 3px 5px !important;
  border-radius: 2px;
  background: #ff8900;
  margin-left: 8px;
}
.dashed {
  border-bottom: 1px dashed #ccc;
  font-size: 0;
  height: 1px;
  margin-bottom: 20px;
}
.plupload {
  background-color: #d8e7f6;
  border: 1px dashed #6fa1da;
  max-width: 700px;
  overflow: hidden;
  padding: 20px 10px 2px 18px;
}
.banner_img, .category_img, .brand_logo {
  width: 100%;
  height: 120px;
  border: 1px solid #F00;
  background-color: #fefefe;
  border: 1px dashed #5c94c7;
  text-align: center;
  margin-bottom: 3px;
  overflow: hidden;
}
.banner_img img, .category_img img, .brand_logo img {
  padding-top: 15px;
  top: 20px;
  width: 100%;
}
.product_img {
  height: 80px;
  width: 80px;
  background-color: #fefefe;
  border: 1px dashed #5c94c7;
  text-align: center;
  margin-bottom: 3px;
  overflow: hidden;
}
.addmore {
  height: 80px;
  width: 80px;
  background-color: #fefefe;
  border: 1px dashed #5c94c7;
  text-align: center;
  margin-bottom: 3px;
  overflow: hidden;
}
.product_img img, .addmore img {
  margin: auto;
  margin-top: 16px;
}
.pro_file input[type='file'] {
  color: transparent;
}
.plupload .upload input[type='button'] {
  margin-top: 30px;
  vertical-align: bottom;
}
.manage-list img {
  width: 50px;
}
.manage-list.shop img {
  width: 180px;
}

/*admin style*/
.table_form .button_edit.active:hover, .table_form .no_button_edit.suspend, .table_form .button_edit.suspend {
    background-position: center bottom;
    cursor: pointer;
}
.table_form .button_edit.suspend:hover, .table_form .no_button_edit.active, .table_form .button_edit.active {
    background-position: center top;
    cursor: pointer;
}
.table_form .no_button_edit,
.table_form .button_edit {
  width: 20px;
  height: 20px; 
  margin: auto; 
  background: url('img/active_suspend.png') no-repeat center top;
}
.admin-panel .button {
  margin: 3px 2px;
  background: #dddddd;
  color: #008cba;
}
.admin-panel .tiny {
  padding: 5px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 13px;
}
.admin-panel .tiny:hover, .admin-panel .tiny:focus, .admin-panel .tiny:hover, .admin-panel .tiny:focus {
    background-color: #007095; }
  .admin-panel .tiny:hover, .admin-panel .tiny:focus, .admin-panel .tiny:hover, .admin-panel .tiny:focus {
    color: #FFFFFF; 
}
#multi-upload input[type="file"] {
  width: 85%;
}
.image-upload > input
{
  display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}
.image-upload span {
  font-size: 11px;
  color: #2d2d2d;
  text-align: center;
  border: 1px solid #cccccc;
  padding: 3px 5px;
  background: #ffffff;
}
.image-upload span:hover {
  background: #d8e7f6;
}
input[type="submit"].delete_pro, input[type="submit"].delete_shop, input[type="submit"].delete_cat, input[type="submit"].delete_brand {
  background: none;
  color: #008cba;
  border: none;
  cursor: pointer;
  margin-left: -10px;
}
input[type="submit"].delete_pro:hover, input[type="submit"].delete_shop:hover, input[type="submit"].delete_cat:hover {
  color: #ff0000;
}
/*start myaccount dropdown*/
.dropbtn {
  background-color: #444546;
  color: white;
  padding: 0 0 0 3px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.full-width .dropdown {
  position: relative;
  display: inline-block;
  z-index: 99999;
}
.full-width .dropdown-content {
  background-color: #f9f9f9;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  display: none;
  margin-top: -12px;
  min-width: 160px;
  position: absolute;
  right: 0;
}
.full-width .dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  z-index: 9999;
}
.full-width .dropdown-content a:hover {background-color: #f1f1f1}
.full-width .dropdown:hover .dropdown-content {
  display: block;
}
.full-width .dropdown:hover .dropbtn {
  background-color: #444546;
}
.full-width .dropdown span.dropbtn {
  font-size: 12px;
  color: #ffffff;
  padding: 0 8px;
}
.dropdown-content a {
  border-bottom: 1px solid #dddddd;
  text-align: left;
}
.large-8.columns.name-field > span {
  font-size: 14px;
}

#multi-upload .delete {
  background: rgba(0, 0, 0, 0) url("img/item_remove.png") no-repeat scroll center center;
}
#multi-upload .delete {
  display: block;
  height: 16px;
  padding: 5px;
  position: absolute;
  right: 13px;
  top: -7px;
  width: 16px;
  z-index: 999;
}
#multi-upload input[type="file"] {
  width: 85%;
}
/*start breadcrumbs*/
.breadcrumbs {
    background: #f5f5f5 none repeat scroll 0 0;
    font-size: 11px;
    padding: 8px 0;
    border: none;
    border-radius: 0;
}
.breadcrumbs .inner {
    margin: auto;
    width: 1170px;
}
.breadcrumbs ul {
    margin: 0;
    padding: 0 20px;
}
.breadcrumbs li {
    display: inline;
}
.breadcrumbs strong {
    color: #333 !important;
    font-weight: 900;
    font-size: 11px;
    text-transform: capitalize;
}
.breadcrumbs span {
  color: #ccc;
  display: inline-block;
  font-size: 13px;
  margin: 0 5px;
}
.breadcrumbs a {
  color: #666;
  font-size: 11px;
}
.breadcrumbs a:hover {
  color: #333;
}
span.title {
  color: #333333;
  font-size: 22px;
  padding: 0;
  text-align: left;
  font-weight: bold;
}
/*social media*/
.social ul {
    float: left;
    list-style: outside none none;
    margin: 0;
}
.social ul li {
    float: left;
    margin-right: 7px;
}
.social a {
    transition: background 400ms ease-in-out 0s;
}
.social .fb a::before {
    content: "";
    font-family: FontAwesome;
}
.social .fb a {
    background: #3c5b9b none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block !important;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    text-align: center;
    width: 35px;
}
.social .fb a:hover {
    background: #3c5b9b none repeat scroll 0 0 !important;
    color: #fff;
}
.social .tw a::before {
    content: "";
    font-family: FontAwesome;
}
.social .tw a {
    background: #359bed none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block !important;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    text-align: center;
    width: 35px;
}
.social .tw a:hover {
    background: #359bed none repeat scroll 0 0 !important;
    color: #fff;
}
.social .googleplus a::before {
    content: "";
    font-family: FontAwesome;
}
.social .googleplus a {
  background: #e33729 none repeat scroll 0 0;
  border-radius: 2px;
  color: #fff;
  display: inline-block !important;
  font-size: 18px;
  height: 35px;
  line-height: 35px;
  padding: 0;
  text-align: center;
  width: 35px;
}
.product-info {
  background-color: #f4f4f4;
}
.product-info .price {
  font-family: "PT Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  padding: 3px 6px;
  color: #ff1744;
}
.line {
  border-top: 1px solid #90949c;
}
.input-text.qty input[type=text] {
  width: 70px;
  text-align: center;
}
.input-text.qty label {
    color: #333333;
    font-weight: bold;
    font-family: "Open Sans",sans-serif;
    margin-bottom: 5px;
    text-align: left;
    text-transform: uppercase;
}
.thumbnails {
  width: 80px;
  height: 80px;
  border: 1px solid #dddddd;
  text-align: center;
}
.thumbnails img {
    margin: 2px;
    height: 75px;
}
.product-img-box img {
  height: 280px;
  width: auto;
}
.large-12.medium-12.small-12.not-found {
  text-align: left !important;
}
.line {
  border-top: 1px solid #dddddd;
}
.product-compare .head-title {
  border: none;
  padding-bottom: 0;
}
.footer-logo img {
  width: 120px;
}
/*start medai query*/
// Small screens
@media only screen { 
  .full-width {
    min-height: 70px;
    text-align: center;
    padding-top: 7px;
  }
  .full-width p {
    padding-bottom: 0;
    margin-bottom: 8px;
  }
  .header-links {
    text-align: center;
  }
  .header-links ul li a {
    padding: 0 3px;
  }
  .text-cart {
    display: none;
  }
  .logo {
    text-align: center;
    margin-bottom: 5px;
  }
  .cart-label {
    display: none;
  }
  .top-row {
    margin-top: 20px !important;
  }
  .offer-banner-section.col-2, .offer-banner-section.col-3 {
    margin-top: 20px !important;
  }
  .best-sales-pro .col-2, .best-sales-pro .col-3, .best-sales-pro .col-4 {
    margin-top: 20px;
  }
  .footer-col-2, .footer-col-3 {
    padding-top: 30px;
  }
  .footer .footer-col-2 h4{
    padding-left: 0;
  }
  .inner, .bottom_links {
    text-align: center;
  }
} /* Define mobile styles */
@media only screen and (max-width: 40em) { 
  .full-width {
    min-height: 70px;
    text-align: center;
    padding-top: 7px;
  }
  .full-width p {
    padding-bottom: 0;
    margin-bottom: 8px;
  }
  .header-links {
    text-align: center;
  }
  .header-links ul li a {
    padding: 0 6px;
  }
  .text-cart {
    display: none;
  }
  .logo {
    text-align: center;
    margin-bottom: 5px;
  }
  .cart-label {
    display: none;
  }
  .top-row {
    margin-top: 20px !important;
  }
  .offer-banner-section .col-2, .offer-banner-section .col-3 {
    margin-top: 20px !important;
  }
  .best-sales-pro .col-2, .best-sales-pro .col-3, .best-sales-pro .col-4 {
    margin-top: 20px;
  }
  .footer-col-2, .footer-col-3 {
    padding-top: 30px;
  }
  .footer .footer-col-2 h4{
    padding-left: 0;
  }
  .inner, .bottom_links {
    text-align: center;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
  .cart-label {
    display: none;
  }
  .best-sales-pro .col-3, .best-sales-pro .col-4 {
    margin-top: 20px;
  }
  .pro-img-thumb img {
    max-height: 170px;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .cart-label {
    display: none;
  }
  .best-sales-pro .col-3, .best-sales-pro .col-4 {
    margin-top: 20px;
  }
  .pro-img-thumb img {
    max-height: 170px;
  }
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
